/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "keymap_italian.h"

// Layer definitions

#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define ACCENT 5
#define SETTINGS 6

// -----------------

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

&sk { ignore-modifiers; };

/ {
    macros {
        // sometimes my device thinks a modifier is being held down
        // pressing all modifiers fixes it.

        unstick: unstick {
            label = "ZM_unstick";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // both right thumb keys

        combo_accent {
            timeout-ms = <300>;
            key-positions = <32 33>;
            bindings = <&mo 1>;
        };

        // internal-left & external-right thumb keys

        combo_sym2 {
            timeout-ms = <200>;
            key-positions = <31 33>;
            bindings = <&mo 2>;
        };

        // both left thumb keys

        combo_settings {
            timeout-ms = <300>;
            key-positions = <30 31>;
            bindings = <&mo 6>;
        };
    };

    behaviors {
        longPress: longPress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <360>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <0 1 2 11 12 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        base {
            bindings = <
&kp Q         &kp W            &kp E        &kp R         &kp T                    &kp Y      &kp U         &kp I                 &kp O               &kp P
&HML LSHFT A  &lt 5 S          &lt 2 D      &lt 1 F       &kp G                    &kp H      &lt 4 J       &lt 3 K               &lt 7 L             &HMR RIGHT_SHIFT SEMI
&lt 6 Z       &HML LEFT_GUI X  &HML LALT C  &HML LCTRL V  &kp B                    &kp N      &HMR RCTRL M  &HMR RIGHT_ALT COMMA  &HMR RIGHT_GUI DOT  &kp SLASH
                                            &kp TAB       &HML LSHIFT BACKSPACE    &kp SPACE  &kp ENTER
            >;
        };

        numbers {
            bindings = <
&trans     &trans    &trans     &trans  &trans    &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans
&kp MINUS  &kp PLUS  &kp EQUAL  &none   &none     &trans        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans
&trans     &trans    &trans     &trans  &trans    &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
                                &trans  &trans    &kp NUMBER_0  &kp EQUAL
            >;
        };

        mouse {
            bindings = <
&trans          &trans     &trans  &mkp MCLK  &trans    &trans  &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &trans
&kp LEFT_SHIFT  &mkp RCLK  &none   &mkp LCLK  &trans    &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
&trans          &trans     &trans  &trans     &trans    &trans  &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &trans
                                   &trans     &trans    &trans  &trans
            >;
        };

        nav {
            bindings = <
&kp ESC    &kp PAGE_DOWN  &kp UP_ARROW    &kp PAGE_UP      &none        &none         &none              &none  &none          &none
&sk HOME   &kp LEFT       &sk DOWN_ARROW  &kp RIGHT_ARROW  &kp END      &kp DELETE    &kp RIGHT_CONTROL  &none  &kp RIGHT_WIN  &kp RIGHT_SHIFT
&kp LC(Z)  &kp LC(R)      &kp LC(Z)       &kp LG(TAB)      &none        &kp LC(BSPC)  &kp BSPC           &none  &none          &none
                                          &kp RS(V)        &kp LS(C)    &kp ENTER     &kp LS(R)
            >;
        };

        symbols {
            bindings = <
&none     &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &none    &none              &none  &none  &none
&kp EXCL  &kp POUND          &kp PERCENT       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &none    &none              &none  &none  &none
&kp PIPE  &kp AMPERSAND      &kp CARET         &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &none    &none              &none  &none  &none
                                               &none                 &kp AT_SIGN              &kp SQT  &kp DOUBLE_QUOTES
            >;
        };

        function {
            bindings = <
&none  &none  &none  &none  &none    &none  &kp F7  &kp F8  &kp F9  &none
&none  &none  &none  &none  &none    &none  &kp F4  &kp F5  &kp F6  &none
&none  &none  &none  &none  &none    &none  &kp F1  &kp F2  &kp F3  &none
                     &none  &none    &none  &none
            >;
        };

        settings {
            bindings = <
&bootloader  &none  &none  &bt BT_CLR  &none    &none         &none         &unstick      &none         &bootloader
&none        &none  &none  &none       &none    &bt BT_SEL 0  &bt BT_SEL 4  &none         &none         &none
&none        &none  &none  &none       &none    &none         &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
                           &none       &none    &none         &none
            >;
        };

        media {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans      &kp C_VOLUME_UP   &trans      &trans  &trans
&trans  &trans  &trans  &trans  &trans    &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans      &kp C_VOL_DN      &trans      &trans  &trans
                        &trans  &trans    &kp LG(A)   &trans
            >;
        };
    };
};
