/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1800  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 35    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// -----------------

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

&lt { require-prior-idle-ms = <120>; };

/ {
    macros {
        // sometimes my device thinks a modifier is being held down
        // pressing all modifiers fixes it.

        unstick: unstick {
            label = "ZM_unstick";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp TAB>;
            label = "ALT_TAB";
        };

        win_tab: win_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LGUI &kp TAB>;
            label = "WIN_TAB";
        };
    };

    combos {
        compatible = "zmk,combos";

        // both right thumb keys
        // internal-left & external-right thumb keys

        escape {
            timeout-ms = <200>;
            key-positions = <33 30>;
            bindings = <&kp ESCAPE>;
        };

        // both left thumb keys

        combo_settings {
            timeout-ms = <300>;
            key-positions = <30 31>;
            bindings = <&mo 7>;
        };

        homeLayer {
            bindings = <&to 0>;
            key-positions = <16 13>;
            timeout-ms = <200>;
        };

        navLayer {
            bindings = <&to 1>;
            key-positions = <31 32>;
            timeout-ms = <200>;
        };

        quick_del {
            bindings = <&kp DEL>;
            key-positions = <13 31>;
        };
    };

    behaviors {
        longPress: longPress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <360>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 11 12 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
            require-prior-idle-ms = <120>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
            require-prior-idle-ms = <120>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        base {
            bindings = <
&longPress ESCAPE Q  &longPress LEFT_WIN W  &kp E               &lt 4 R             &kp T            &kp Y      &kp U         &kp I             &kp O             &kp P
&HML LSHFT A         &HML LEFT_GUI S        &HML LEFT_ALT D     &HML LCTRL F        &lt 2 G          &kp H      &HMR RCTRL J  &HMR RIGHT_ALT K  &HMR RIGHT_GUI L  &HMR RIGHT_SHIFT SEMI
&longPress LS(Z) Z   &longPress LC(X) X     &longPress LC(C) C  &longPress LC(V) V  &kp B            &kp N      &kp M         &kp COMMA         &kp DOT           &kp SLASH
                                                                &lt 6 TAB           &kp BACKSPACE    &kp SPACE  &lt 3 ENTER
            >;
        };

        nav {
            bindings = <
&trans     &trans    &trans    &trans     &trans         &none         &kp PG_UP  &kp UP_ARROW  &kp PG_DN  &none
&kp LSHFT  &kp LGUI  &kp LALT  &kp LCTRL  &kp LG(TAB)    &kp HOME      &kp LEFT   &kp DOWN      &kp RIGHT  &kp END
&trans     &trans    &trans    &trans     &trans         &kp LC(BSPC)  &kp BSPC   &none         &none      &none
                               &trans     &trans         &trans        &trans
            >;
        };

        numbers {
            bindings = <
&none  &none  &none  &none  &none    &kp SLASH     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS
&none  &none  &none  &none  &none    &kp ASTERISK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS
&none  &none  &none  &none  &none    &kp PERIOD    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
                     &none  &none    &kp NUMBER_0  &kp EQUAL
            >;
        };

        symbols {
            bindings = <
&none     &none          &none        &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &none  &none        &none     &none       &none
&kp EXCL  &kp POUND      &kp PERCENT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &none  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp GRAVE
&kp PIPE  &kp AMPERSAND  &kp CARET    &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &none  &none        &none     &none       &none
                                      &kp SINGLE_QUOTE      &kp DOUBLE_QUOTES        &none  &none
            >;
        };

        function {
            bindings = <
&none  &none  &none  &none  &none    &none    &kp F7       &kp F8  &kp F9  &kp F13
&none  &none  &none  &none  &none    &kp F10  &kp F4       &kp F5  &kp F6  &kp F12
&none  &none  &none  &none  &none    &kp F11  &kp F1       &kp F2  &kp F3  &kp F14
                     &none  &none    &kp F12  &kp LS(F10)
            >;
        };

        mouse {
            bindings = <
&none           &none      &none  &mkp MCLK  &none    &none  &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &none
&kp LEFT_SHIFT  &mkp RCLK  &none  &mkp LCLK  &none    &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none
&none           &none      &none  &none      &none    &none  &msc SCRL_LEFT  &none           &msc SCRL_RIGHT  &none
                                  &none      &none    &none  &none
            >;
        };

        media {
            bindings = <
&none  &none  &none  &none  &none    &none       &kp C_VOLUME_UP   &none       &none  &none
&none  &none  &none  &none  &none    &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &none  &none
&none  &none  &none  &none  &none    &none       &kp C_VOL_DN      &none       &none  &none
                     &none  &none    &kp LG(A)   &none
            >;
        };

        settings {
            bindings = <
&bootloader  &none  &none       &none  &none    &none         &none         &unstick      &none         &bootloader
&none        &none  &none       &none  &none    &bt BT_SEL 0  &bt BT_SEL 4  &none         &none         &none
&none        &none  &bt BT_CLR  &none  &none    &none         &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none
                                &none  &none    &none         &none
            >;
        };
    };
};
